@page "/moviepage/{id:int}"
@using BlazorWebAppCustomer.Services
@using helperMovies.ViewModel
@using Microsoft.JSInterop
@inject NavigationManager NavigationManager
@inject IMovieService MovieService
@inject IJSRuntime JS

@using System.Text.Json

<HeroSection Title="Create Account" Subtitle="Join Movie Hub and explore endless entertainment." />





@if (movie == null)
{
    <p>Loading...</p>
}
else
{



    <!-- Film Detail -->
    <section class="container my-5 pt-5">
        <div class="row glass-card p-4">
            <div class="col-md-4">
                <img id="filmPoster" src="@MovieService.GetMovieFileUrl(movie.Id, "poster")"  alt="Film Poster" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-8">
                <h2 id="filmTitle">@movie.Title</h2>
                <p><strong>Genre:</strong> <span id="filmGenre">@movie.CategoryName</span></p>
                <p><strong>Release Date:</strong> <span id="filmRelease">@movie.ReleaseDate</span></p>
      
                <p id="filmDescription">
                    @movie.Description
                </p>

                <button class="btn btn-primary btn-toggle" @onclick="() => GoToWatch(movie.Id)">▶ Watch Film</button>
                <button class="btn btn-warning" @onclick="() => RentMovie(movie.Id)">💳 Rent Film</button>
                <button class="btn btn-success" @onclick="() => BuyMovie(movie.Id)">🛒 Buy Film</button>
                <button class="btn btn-outline-light">❤️ Add to Favorite</button>
            </div>
            @if (movie.HasTrailer)
            {
                <div class="col-12" style="margin-top:25px">
                    <video controls style="width:100%; height:auto;">
                        <source src="@MovieService.GetMovieFileUrl(movie.Id, "trailer")" type="video/mp4" />
                        Trình duyệt không hỗ trợ video.
                    </video>
                </div>
            }
        </div>
            </section>
        
@*          <div class="modal fade" id="trailerModal"> *@

       
    



    

}

@code {
    [Parameter] public int id { get; set; }

    MovieViewModel? movie;

    protected override async Task OnInitializedAsync()
    {



        movie = await MovieService.GetMovieAsync(id);
    }

    void GoToWatch(int movieId)
    {
        NavigationManager.NavigateTo($"/watch/{movieId}");
    }

    void RentMovie(int movieId)
    {
        NavigationManager.NavigateTo($"/movies/rent/{movieId}");
    }

    void BuyMovie(int movieId)
    {
        NavigationManager.NavigateTo($"/movies/buy/{movieId}");
    }
}
